@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css");

/* VARS */
:root {
  --darkerBG: #191f26;
  --mainBG: #3a4655;
  --btnBG: #35404f;
  --primColor: #0087f3;
  --shadColor: #454e5d;
  --fontColor: #fafbff;
}

/* BASE */
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--darkerBG);
  color: var(--fontColor);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* STYLE */

.row {
  margin: 0;
}

.calculator-wrapper {
  max-width: 35rem;
  margin: auto;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--mainBG);
}

.output {
  height: 10rem;
  width: 100%;
  margin-bottom: 4rem;
  background-color: var(--mainBG);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem;
  word-wrap: break-word;
  word-break: break-all;
}

.calculator-wrapper .row1,
.calculator-wrapper .row2,
.calculator-wrapper .row3,
.calculator-wrapper .row4,
.calculator-wrapper .row5 {
  padding: 0.5rem 0;
}

.calculator-wrapper button {
  color: #d7d8df;
  padding: 2.2rem 0;
  cursor: pointer;
  font-size: 2.4rem;
  border: none;
  border-radius: 1rem;
  outline: none;
  background-color: var(--btnBG);
  width: 100%;
}

.calculator-wrapper button:hover,
.calculator-wrapper button:focus {
  background-color: #2f3946;
}

.equal button {
  background-color: var(--primColor);
}

.equal button:hover,
.equal button:focus {
  background-color: var(--primColor);
}

.calculator-wrapper button[data-operation],
.calculator-wrapper button[data-all-clear],
.calculator-wrapper button[data-delete] {
  background-color: #2d3643;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: var(--fontColor);
  font-size: 3.3rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 400px) {
  body {
    background-color: var(--darkerBG);
    color: var(--fontColor);
    width: 100vw;
    display: block;
    align-items: unset;
    justify-content: unset;
    height: 100vh;
  }
}
